Repository spantaleev/matrix-docker-ansible-deploy, pull requests merged in 2025-03, with the labels that each got.

#4126 Upgrade Jitsi (v10008-3 -> v10073-1)
  requirements.yml
Labels: dependencies

#4133 Add mautrix-bluesky to a table on docs/container-images.md
  docs/container-images.md
Labels: docs

#4142 Update docs for S3 media storage configuration for Synapse
  docs/configuring-playbook-s3-goofys.md
  docs/configuring-playbook-synapse-s3-storage-provider.md
  docs/configuring-playbook-synapse-simple-antispam.md
  docs/configuring-playbook.md
Labels: docs

#4144 Update docs/configuring-playbook.md: update the instruction to use git
  docs/configuring-playbook.md
Labels: docs

#4149 Add REUSE compliant badge on README.md
  README.md
  roles/custom/matrix-bot-buscarron/tasks/validate_config.yml
  roles/custom/matrix-bridge-go-skype-bridge/tasks/validate_config.yml
  roles/custom/matrix-bridge-mautrix-instagram/tasks/validate_config.yml
  roles/custom/matrix-cactus-comments/tasks/validate_config.yml
Labels: docs

#4154 Enable room summary API (MSC3266) support for Synapse
  roles/custom/matrix-synapse/defaults/main.yml
  roles/custom/matrix-synapse/templates/synapse/homeserver.yaml.j2
Labels: enhancement

#4155 Update docs/configuring-playbook-email.md: copy from the ansible-role…
  docs/configuring-playbook-email.md
Labels: docs

#4159 Update docs/configuring-playbook-prometheus-grafana.md: warning message
  docs/configuring-playbook-prometheus-grafana.md
Labels: docs

#4160 Update docs: configuring-playbook-ntfy.md and others
  docs/configuring-playbook-backup-borg.md
  docs/configuring-playbook-email.md
  docs/configuring-playbook-etherpad.md
  docs/configuring-playbook-jitsi.md
  docs/configuring-playbook-ntfy.md
  docs/configuring-playbook-postgres-backup.md
Labels: docs

#4163 Update docs/configuring-playbook-ntfy.md
  docs/configuring-playbook-ntfy.md
Labels: docs

#4169 Add ensure-users-created to the list of available tags on playbook-tags.md
  docs/playbook-tags.md
Labels: docs

#4171 Add support for configuring Synapse's MSC4133 (Custom Profile Fields)
  roles/custom/matrix-synapse/defaults/main.yml
  roles/custom/matrix-synapse/templates/synapse/homeserver.yaml.j2
Labels: enhancement

#4172 Update docs/configuring-playbook-ntfy.md: add the instruction to log …
  docs/configuring-playbook-ntfy.md
Labels: docs

#3389 Internal Admin API and Draupnir Hjack Command Config
  group_vars/matrix_servers
  roles/custom/matrix-bot-draupnir/defaults/main.yml
  roles/custom/matrix-bot-draupnir/tasks/validate_config.yml
  roles/custom/matrix-bot-draupnir/templates/production.yaml.j2
  roles/custom/matrix-synapse-reverse-proxy-companion/defaults/main.yml
  roles/custom/matrix-synapse-reverse-proxy-companion/tasks/validate_config.yml
  roles/custom/matrix-synapse-reverse-proxy-companion/templates/labels.j2
  roles/custom/matrix-synapse/defaults/main.yml
  roles/custom/matrix-synapse/defaults/main.yml.license
  roles/custom/matrix-synapse/tasks/validate_config.yml
  roles/custom/matrix-synapse/templates/synapse/labels.j2
Labels: needs-rebase
